body,html{
    font-family: 'Poppins', sans-serif !important;
}

.container{
    width: 90% !important;
    max-width: 600px !important;
    margin: 0 auto !important;
}
.btn{
    padding: 8px 25px !important;
    border-radius: 40px !important;
}
.btn-primary{
    background-color: #0AB265 !important;
    border: none !important;
    transition: 0.3s !important;

    &:hover{
        box-shadow: none !important;
        background-color: #088b50 !important;
    }
    &:focus{
        box-shadow: none !important;
        outline: 4px solid #0AB2658f !important;
    }
}
.form-control,.form-select{
    border: #0AB265 1px solid !important;
    transition: 0.3s !important;
    &:focus{
        border: #0AB265 1px solid !important;
        box-shadow: none !important;
        outline: 4px solid #0AB2658f !important;
    }
}
.card{
    border: #0AB265 1px solid !important;
}
.nav-main{
    max-width: 800px;
    margin: 0 auto;
    border-radius: 0 0 25px 25px;
    height: 70px;
    background-color: #0AB265;
    color: #ffffff;
}